:root {
  --color_cornsilk: #FFF8DC;
  --color_ghostWhite: #F8F8FF;
  --light-green-yellow-color: #d2f1da;
  --color_dimGray: #696969
}

/*
 Normalize.css
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  background-color: var(--color_ghostWhite);
}

input {
  outline: none;
  padding-left: 0.5em;
  font-size: 1.4rem;
}

input::placeholder {
  font-size: 1.4rem;
  color: gray;
  width: fit-content;
}

a {
  font-size: 1.4rem;
}

a:hover {
  cursor: pointer;
  color: blue;
}

button {
  padding: 0.4rem;
  border: 0.5px solid black;
  font-size: 1.5rem;
}

button:hover {
  background-color: gainsboro;
}